body
{
	color: #222;
	font-family: arial, sans-serif;
	font-size: 0.9em;
}
a
{
	color: #990000;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
#msgDetails
{
	font-size: 80%;
	color: #999;
}
#mainContent
{
	float: left;
	width: 86%;
}
#sidebar
{
	float: left; 
	width: 9%; 
	padding: 10px; 
	border-right: 1px dotted #ccc; 
	margin-right: 20px; 
	min-height: 600px;
}
#sidebar #logo
{
	font-weight: bold; 
	text-align: center;
}
#sidebar #compose
{
	margin-left: -24px;
}
#sidebar #mailboxes
{
	margin-left: -24px;
}

#inboxTable
{
	width: 100%;
}

#sentTable
{
	width: 100%;
}
